/*  
    Recommeded CSS
    ==============
*/

.panel {
   /* position: fixed; */
    left: -40.625em; /*or width of your navigation panel*/
    width: 40.625em; /*should match the above value */
}

/*  
    Demo Specific Styles  */
    ====================

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
    background: url('Background.jpg');
}


.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    /*background: #101820;*/
}

.panel a {
    /*color: #fff;*/
}
